<!DOCTYPE html>
<html>
<head>
  <title>Crypto Playground</title>

  <style>

  h1{
    text-align:center;

  }
  h2{
    text-align:center;
    font-size:14;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

  </style>
</head>

<body>

  <h1> Crypto Playground </h1>

<ul>
  <li><a href="index">Home</a></li>
  <li><a href="crypto_game">Crypto Game</a></li>
  <li><a href="hashing">Hashing</a></li>
  <li><a href="factoring">Factoring</a></li>
  <li><a href="https://github.com/egandunning/learn-crypto">Source Code</a></li>
</ul>

<h2>
  Hashing
</h2>

<p>
  Hashing is the process of turning data of arbitrary size into data of fixed size.
  The values that are returned are called the hash values. Websites that have a user/password
  log-in system will store your password's hash value instead of the plaintext password itself. (At least they should!)
</p>
<p>
  Our hashing demonstration will show you what a hash value of plaintext you enter. We've also have a hash breaker, so you can see how secure your password is!
  Keep in mind that our hash breaking demo shouldn't be used as the end all test for password strength.
</p>

<a href="https://en.wikipedia.org/wiki/Hash_function">Hashing</a>


</body>
</html>
