<!DOCTYPE html>
<html>
<head>
  <title>Crypto Playground</title>

  <style>

  h1{
    text-align:center;

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

  </style>
</head>

<body>

  <h1> Crypto Playground </h1>

  <ul>
    <li><a href="/views/pages/index.ejs">Home</a></li>
    <li><a href="/views/pages/crypto_game.ejs">Crypto Game</a></li>
    <li><a href="#hashing">Hashing</a></li>
    <li><a href="#factoring">Factoring</a></li>
    <li><a href="https://github.com/egandunning/learn-crypto">Source Code</a></li>
  </ul>

  <p>
    We created a program that teaches its users computer security concepts.
    The program is a cross platform desktop app, built in Qt, that will explore security technologies.
    Users may play a fun cryptogram game, explore password security with a hash cracking tool, and factor miniature RSA numbers.
    Using this, we can show our users circumstances where encryption is secure and circumstances where encryption is not secure.
    We can also show our users the difference between strong and weak passwords.
  </p>
</body>
</html>
